AUTH0_CLIENT_ID= # Get this from vercel development secrets.
AUTH0_CLIENT_SECRET= # Get this from vercel development secrets.
AUTH0_ISSUER_BASE_URL= # Get this from vercel development secrets.
OPENAI_API_KEY= # Get this from vercel development secrets.
OPENAI_ASSISTANT_ID= # Get this from vercel development secrets.
SORT_AI= # "openai" set to "openai" and set OPENAI_* related vars if you want to use openai, leave unset otherwise.
SORT_AUTH= # "auth0" | "form" set to "auth0" if you want to use auth0, "form" if you want to use form based authentication.
SORT_HOSTED_THROUGH= # set to "vercel" if hosted through vercel, otherwise leave unset.
SORT_SERVICE_ACCOUNT_API_KEY= # Get this from vercel development secrets.
SORT_SESSION_REVOKE_SECRET= # Get this from vercel development secrets.
SORT_WEB_API_BASE_URL= # Get this from vercel development secrets.
SORT_WEB_CHANGE_REQUESTS_ENABLED= # "1"|"0" set to "1" if you want to enable change requests.
SORT_WEB_DESCRIBE_CHANGES_ENABLED= # "1"|"0" set to "1" if you want to enable describe changes in data explorer, SORT_AI must be set and other related vars.
SORT_WEB_MAINTENANCE_ENABLED= # "1"|"0" set to "1" if maintenance is needed. Only applicable when hosted on Vercel
SORT_WEB_SESSION_SECRET= # Get this from vercel development secrets.
TEST_DATABASE_URL= # get this from the e2e-testing Neon project.
TEST_USER_EMAIL= # The email of the test-user.
TEST_USER_PASSWORD= # The password of the test-user.
VERCEL_ENV= # Get this from vercel development secrets.
VERCEL_FLAGS_SECRET= # Get this from vercel development secrets.
VERCEL= # "1"|"0" set to "1" if SORT_HOSTED_THROUGH is "vercel".
