.DS_Store
.env*.local
.vercel
/.env.sentry-build-plugin
/.eslintcache
/.prettiercache
/.sentryclirc
/.vercel/
/build/
/coverage/
/node_modules/
/playwright-report/
/playwright/.auth/
/playwright/.cache/
/public/build/
/storybook-static/
/test-results/
.react-router/