# .gitignore
.DS_Store
/.env
/.env.local
/.env.sentry-build-plugin
/.eslintcache
/.prettiercache
/.sentryclirc
/.vercel/
/build/
/coverage/
/node_modules/
/playwright-report/
/playwright/.auth/
/playwright/.cache/
/public/build/
/test-results/

# .prettierignore
pnpm-lock.yaml
app/routes.d.ts
public/*.js
/packages/*/lib/
.react-router/