node_modules

.eslintcache
.env
.env.development
.env.production
.env.staging
.env.test

# JetBrains IDEs
.idea

# OS X
.DS_Store

# TypeScript
dist
tsconfig.tsbuildinfo

# Jest
coverage

# vim
*.swp

# openapi testing
openapi

snowflake.log

# madge
*-circular.svg

# s3 bucket creation
deploy/
setup-onprem.sh
deploy.tgz