# Development and Production env var deployment steps:
# https://www.notion.so/sortxyz/Infra-Runbook-4d797b63fb054959aec08e0897aeafde?pvs=4#63a4d035fb814969b636f5e47ca3dc69

# Severity of messages to log. Options: https://github.com/pinojs/pino/blob/master/docs/api.md#level-1
LOG_LEVEL = LOG_LEVEL

# Address on which to start the API server
SERVICE_HOST = SERVICE_HOST

# Port on which to start the API server
SERVICE_PORT = SERVICE_PORT

# *Public* URL of the service; used for links in emails and OpenAPI documentation
SERVICE_URL = http://localhost:8080 # https://api.sort.xyz

# Rate limit max number of requests per SERVICE_RATE_LIMIT_TIME_WINDOW
SERVICE_RATE_LIMIT_MAX = SERVICE_RATE_LIMIT_MAX

# Rate limit time window in milliseconds for SERVICE_RATE_LIMIT_MAX
SERVICE_RATE_LIMIT_TIME_WINDOW = SERVICE_RATE_LIMIT_TIME_WINDOW

# Max number of public databases and queries to return for marketing pages
HOME_ROUTE_MAX_REQUESTS = 18

# Our Postgres application database
POSTGRES_DB = POSTGRES_DB
POSTGRES_HOST = POSTGRES_HOST
POSTGRES_USER = POSTGRES_USER
POSTGRES_PASSWORD = POSTGRES_PASSWORD
DB_FIELD_ENCRYPTION_KEY = l337+c0d3rVpAJQv3TW04k79A6Q+hT7F5v+MLrl0FcsNF4cT/yukOXjO

# Customer query timeout in milliseconds
CUSTOMER_QUERY_TIMEOUT_MS = CUSTOMER_QUERY_TIMEOUT_MS

# EMAIL
MAILGUN_API_KEY = MAILGUN_API_KEY # optional
MAILGUN_DOMAIN = MAILGUN_DOMAIN # optional
MAILGUN_ALL_CUSTOMERS_LIST = MAILGUN_ALL_CUSTOMERS_LIST # optional mailing list to which new customers are added

# Slack
SLACK_WEBHOOK_URL = SLACK_WEBHOOK_URL # optional

SORT_WEB_HOST = 'http://localhost:3000' # https://sort.xyz

# SENTRY
SENTRY_DSN = SENTRY_DSN
SENTRY_TRACE_RATE = 1.0

# FEATURE FLAGS
SORT_FEAT_ENABLE_ON_PREM_AUTH=true

# Auth
AUTH0_ISSUER_BASE_URL = 'https://something.auth0.com'
SORT_SESSION_REVOKE_SECRET = SORT_SESSION_REVOKE_SECRET
SORT_JWT_SECRET = SORT_JWT_SECRET
SORTUI_SERVICE_ACCOUNT_EMAIL = 'svc-sortui-test@sort.xyz'

# Timezone
TZ=UTC

# Permit adding localhost database connections (useful in local development)
IS_LOCAL_DB_CONNECTION_OK=true
